<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKKLdgudAtlX2adIuKam9LqhcxUclP5RI</string>
	<key>GCM_SENDER_ID</key>
	<string>840880499635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ilya-tatsenko.CinephileDatingApp</string>
	<key>PROJECT_ID</key>
	<string>obscura-9038c</string>
	<key>STORAGE_BUCKET</key>
	<string>obscura-9038c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840880499635:ios:1369f3b6c8e14453d3b9c6</string>
</dict>
</plist>